<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$Think.config.WEB_TITLE}</title>
</head>
<frameset rows="42,*" cols="*" id="rowsFrame" name="rowsFrame" frameborder="no" border="0">
	<noframes>
		<body>
			很抱歉，您使用的浏览器不支持框架功能，请使用最新版的浏览器！
		</body>
	</noframes>
	<frame src="__MODULE__/frame/top" id="topFrame" name="topFrame" title="topFrame" scrolling="no" noresize="noresize" />
	<frameset cols="201,0,*" id="colsFrame" name="colsFrame" frameborder="no" border="0">
		<frame src="__MODULE__/frame/left" id="leftFrame" name="leftFrame" title="leftFrame" noresize="noresize" />
		<frame src="__MODULE__/frame/leftSwitch" id="leftSwitch" name="leftSwitch" title="leftSwitch" scrolling="no" noresize="noresize" />
		<frame src="__MODULE__/frame/welcome" id="mainFrame" name="mainFrame" title="mainFrame" noresize="noresize" />
	</frameset>
</frameset>
</html>